<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">Please sign in</h1>

        <a href="/auths/github/" class="btn">with GitHub</a>

        <a href="/auths/facebook/" class="btn">with Facebook</a>

        <a href="/auths/google/" class="btn">with Google+</a>
        <a href="/auths/twitter/" class="btn">with Twitter</a>

    </div>
</div>
