<!DOCTYPE html>
<html lang="da">
	<head>
		<!--
			For demonstration purposes, the `title` is dynamically set here based on
			your `sails.config.appName` to show that you can inject data into layouts
			exactly the same way as with your other view templates.
		-->
		<title><%- title %></title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<%- partial('webfonts') %>

		<link rel="stylesheet" href="/libraries/Bootstrap/css/bootstrap.min.css" />

		<% if (false && enableMaps) { %>
			<link rel="stylesheet" href="/libraries/Leaflet/css/leaflet.css" />
			<!--[if IE]>
			<link rel="stylesheet" href="/libraries/Leaflet/css/leaflet.ie.css" />
			<![endif]-->
		<% } %>

		<link rel="stylesheet" href="/styles/base.css" media="all" />
		<link rel="stylesheet" href="/styles/screen.css" media="screen" />
		<link rel="stylesheet" href="/styles/print.css" media="print" />

		<link rel="apple-touch-icon" href="/images/touch-icon.png"/>

		<link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>

	</head>

	<body>

		<!-- Include the view file for the current controller/route -->
		<%- body %>

	</body>
</html>
