<div class="row">
	<div class="col-sm-6">
		<h1>Mine løb</h1>
		<table class="table">
			<thead>
			<tr>
				<th>Navn</th>
				<th>Poster</th>
			</tr>
			</thead>
			<tbody>
			{{#each}}
				<tr>
					<td>
						{{#link-to 'event' this}}
							{{title}}
						{{/link-to}}
					</td>
					<td>
						{{#if activities.length}}
							{{activities.length}}
						{{else}}
							Ingen
						{{/if}}
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		{{outlet}}
	</div>
</div>
